@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    background: #f9f5ff;
    margin: 0;
}

html, body {
    height: 100%;
}

h1 {
    font-weight: 500;
    font-size: 56px;
    margin-bottom: 0.25em;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 0.5em;
}

.page-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    max-width: 1000px;
}

.darkModeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    background: #6f00ff;
    color: white;
}

.darkModeButton:hover {
    cursor: pointer;
    background: #5800ca;
}

.page-content {
    text-align: center;
}

#caser-text {
    font-weight: 700;
	background: linear-gradient(90deg,#6f00ff, #e700e7);
	background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.caser-form {
    box-sizing: border-box;
    outline: none;
    border: 3px solid #6f00ff;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    border-radius: 0.5em;
    background: #f9f5ff;
}

.button-group > div {
    box-sizing: border-box;
    font-weight: 500;
    display: inline-block;
    background: #6f00ff;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    margin: 1em 0.25em;
    min-width: 100px;
}

.button-group > div:hover {
    cursor: pointer;
    background: #5800ca;
}

/* dark mode */

.body-dark-mode {
    background-color: #1c0a37;
    color: #fff;
}

.input-dark-mode {
    background: #2e0e5e;
    color: #fff;
}

@media(max-width: 750px) {
    .page-container {
        height: unset;
        width: 100%;
        box-sizing: border-box;
        padding: 1.5em;
        flex-direction: column;
        /* align-items: flex-start; */

    }

    .page-content {
        width: 100%;
    }

    .darkModeButton {
        position: static;
        margin: 0.5em auto 5em auto;
        width: 90%;
        
    }

    .darkModeButton-mobile {
        background: #2a1051;
    }

    h1 {
        font-size: 44px;
        line-height: 56px;
        /* margin-top: 1em; */
    }

    h2 {
        font-size: 28px;
        margin: 1em 0 0 0;
    }

    .button-group {
        margin-bottom: 1em;
    }

    .button-group > div {
        width: 100%;
        margin: 0.5em 0;
    }

    .caser-form {
        margin: 2.5em 0;
    }
}